---
layout: base.njk
---
<article class="post">
  <header class="post__header">
    <h1 class="post__title">{{ title }}</h1>
    <div class="post__meta">
      <time datetime="{{ date | dateToRfc3339 }}">{{ date | dateFormat }}</time>
      <span>{{ content | readingTime }} min read</span>
    </div>
  </header>
  <div class="post__body prose">
    {{ content | safe }}
  </div>
</article>
