body {
  font-family: monospace;
  max-width: 38rem;
  margin: 0 auto;
  padding: 2rem 1rem;
  line-height: 1.6;
  background: #e3f2fd;
}

nav {
  display: flex;
  gap: 1rem;
  margin-bottom: 3rem;
}

nav a:first-child {
  margin-right: auto;
}

a {
  color: inherit;
}

footer {
  margin-top: 4rem;
  color: gray;
}

h1 {
  font-weight: normal;
  margin-bottom: 0.5rem;
}
